{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="custom-div text-center border shadow mt-4 p-4">
	<h1>Thank you</h1>
	<p>Welcome to our community of readers that never stop learning.</p>
	<p>A <strong>SERIAL NUMBER </strong>will be sent to your email. Use this serial number when purchasing in our store to get <strong>GREAT DEALS.</strong></p>
	<hr>
	<img class="w-100" src="{% static 'img/landing_img_done.jpg' %}">
	<a href="https://static.vecteezy.com/ti/gratis-vektor/p1/1220333-back-to-school-design-mit-schulern-und-buchern-kostenlos-vektor.jpg">
		<small class="text-muted">Image source</small>
	</a>
</div>
{% endblock %}